CONVEX_DEPLOYMENT=dev:outstanding-retriever-933 # team: delarosaembriea, project: appdev2-final-exam

EXPO_PUBLIC_CONVEX_URL=https://outstanding-retriever-933.convex.cloud

EXPO_PUBLIC_CONVEX_SITE_URL=https://outstanding-retriever-933.convex.site